/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

body {
  font-family: 'Poiret One', cursive;
}

#icon {
  max-height: 200px;
  max-width: 200px;
  opacity: 0.95;
}

.carousel__controls{
display:none;
}

#delete{
float:right;
}


#card {
  background-color: transparent;
  overflow-y: scroll;
  height: auto;
  width: 300px;
}

#card2 {
  background-color: transparent;
  overflow-y: scroll;
  display:inline-block;

  height: 200px;
  width: 200px;
}

.input-group__details:after {
  background-color: black;
  color: black;
}

.input-group--text-field input,
.input-group--text-field textarea {
  caret-color: black;
  color: black;
}

.btn.btn--icon .btn__content .icon {
  color: black;
}

.carousel {
background-color: #fff;
position: absolute;
bottom: 0;
left: 0;
height: 33%;
}

.carousel__left, .carousel__right{
position: absolute;
z-index: 1;
transform: translateY(0%);
}

.carousel__controls {
  background-color: white;

}

#linky{
text-decoration: none;
color:black;
}

#buttons{
  padding-left: 55px;
}


#inputty {
  width: 300px;
  background-color: transparent;
  float: left;
}
