/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

body {
  font-family: 'Poiret One', cursive;
}

#icon {
  max-height: 200px;
  max-width: 200px;
  opacity: 0.95;
}


#card {
  background-color: transparent;
  overflow-y: scroll;
  height: 200px;
  width: 300px;
}

.input-group__details:after {
  background-color: black;
  color: black;
}

.input-group--text-field input,
.input-group--text-field textarea {
  caret-color: black;
  color: black;
}

.btn.btn--icon .btn__content .icon {
  color: black;
}

.carousel__controls {
  background-color: white;
}


#inputty {
  height: 200px;
  width: 300px;
  background-color: transparent;
  float: left;
}
